@import 'reset';

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

body {
  background: #f7f9f9;
  color: #575a5b;
  font-family: 'Open Sans';
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}

p {
  font-size: .938em;
  line-height: 1.2em;
}

div.editbar {
  background: rgba(0,0,0,0.1);
  height: em(40);
  left: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 10;
  
  button {
    background: #21abc7;
    border: none;
    border-radius: .6em;
    color: #FFF;
    cursor: pointer;
    font-family: OpenSans;
    font-size: 1.563em;
    height: 1.2em;
    line-height: 1.2em;
    margin: .2em .4em 0 0;
    padding: 0;
    width: 1.2em;
    
    &:hover {
      bacground: #1c91a8;
    }
  }
}

div.form_overlay {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

div.form_container {
  background: #fff;
  left: 50%;
  margin-left: em(-150);
  min-height: em(300);
  position: absolute;
  top: em(50);
  width: em(300);
  z-index: 21;
  
  span.closeForm {
    background: #f05a4e;
    border-radius: .577em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.625em;
    height: 1.154em;
    line-height: 1.077em;
    position: absolute;
    right: .385em;
    text-align: center;
    top: .385em;
    width: 1.154em;
  }
  
  div.preview_content {
    padding: em(60) em(10) 0;
    
    div.post {
      margin: 0 auto;
    }
  }
  
  div.form_content {
    padding: em(30);
    
    div {
      margin: em(10) auto;
      width: 100%;
      
      label {
        display: inline-block;
        font-size: em(14);
        padding-bottom: 2px;
      }
      
      input {
        width: 100%;
        &[type='text'],
        &[type='url'] {
          border: 1px solid #b0b4b5;
          border-radius: em(5);
          height: em(30);
          padding-left: em(6);
        }
      }
      textarea {
        border: 1px solid #b0b4b5;
        border-radius: em(5);
        display: block;
        height: 100px;
        padding: em(6);
        resize: none;
        width: 100%;
      }
      
      input, textarea {
        &.ng-dirty {
          &.ng-invalid {
            border-color: red;
          }
          &.ng-valid {
            border-color: green;
          }
        }
      }
      
      span.content_type_selector {
        background: #f1f5f5;
        color: #575a5b;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        min-width: 50px;
        padding: 5px 0;
        text-align: center;
        vertical-align: middle;
        
        &.selected {
          color: #FFF;
          &.text {
            background: #616db3;
          }
          &.image {
            background: #f79d2a;
          }
          &.video {
            background: #f45950;
          }
        }
      }
    }
    button {
      background: #f05a4e;
      border: none;
      color: #fff;
      cursor: pointer;
      font-family: 'Open Sans';
      font-size: 1em;
      font-weight: 600;
      margin-top: em(10);
      padding: em(8) em(35);
    }
  }
}



$postWidth: 280;
$marginWidth: 10;
$totalPostWidth: $postWidth + ($marginWidth * 2);

div.posts_container {

  margin: 0 auto;
  max-width: em($totalPostWidth * 4);
  padding-top: em(50);
  @media only screen and (max-width: $totalPostWidth * 4 * 1px) {
    max-width: em($totalPostWidth * 3);
  }
  @media only screen and (max-width: $totalPostWidth * 3 * 1px) {
    max-width: em($totalPostWidth * 2);
  }
  @media only screen and (max-width: $totalPostWidth * 2 * 1px) {
    max-width: em($totalPostWidth);
  }
  div.col {
    display: inline-block;
    vertical-align: top;
    
    & + div.col {
      margin-left: -5px;
    }
  }
}

div.post {
  background: #f1f5f5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  display: block;
  margin: em($marginWidth);
  position: relative;
  width: em($postWidth);
  
  span.delete_post {
    cursor: pointer;
    display: block;
    height: em(16);
    position: absolute;
    right: 0;
    top: 0;
    width: em(16);
    
    &:hover {
      border: 1px solid rgba(0,0,0,0.2);
      
      &:before {
        display: block;
      }
    }
    
    &:before {
      content: "";
      display: none;
      position: absolute;
      top: -1px;
      right: -2px;
      border-width: 0 em(17) em(17) 0;
      border-style: solid;
      border-color: transparent #f7f9f9;    }
  }
  
  div.headline_content {
    background: #FFF;
    padding: em(10) em(10) 0;
    
    h2 {
      word-break: break-word;
    }
  }
  
  div.post_content {
    margin: em(10) auto;
    max-width: em($postWidth - 40);
    padding-bottom: em(10);
    
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    
    div.video_embed_container {
      height: 0;
      padding-bottom: 56.25%;
      padding-top: 25px;
      position: relative;
      
      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  
  p.timestamp {
    font-size: em(10);
    font-style: italic;
    padding: 0 em(10) em(5) 0;
    text-align: right;
  }
}
