<form name="add_post" id="add_post" ng-submit="add_post.$valid && editBarCtrl.addPost()" novalidate>
  <!-- POST TITLE -->
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="addForm.newPost.title" maxlength="50" required>
  </div>
  
  <!-- POST TYPE SELECTOR -->
  <div>
    <span class="content_type_selector text" ng-class="{'selected': addForm.newPost.type === 'text'}" ng-click="addForm.newPost.type = 'text'">Text</span>
    <span class="content_type_selector image" ng-class="{'selected': addForm.newPost.type === 'image'}" ng-click="addForm.newPost.type = 'image'">Image</span>
    <span class="content_type_selector video" ng-class="{'selected': addForm.newPost.type === 'video'}" ng-click="addForm.newPost.type = 'video'">Video</span>
  </div>
  
  <!-- POST TYPE INPUT -->
  <div ng-show="addForm.newPost.type">
    <div class="text_input" ng-show="addForm.newPost.type === 'text'">
      <label for="text_input">Text</label>
      <textarea name="text_input" ng-model="addForm.newPost.textContent" ng-required="addForm.newPost.type === 'text'" />
    </div>
    
    <div class="image_input" ng-show="addForm.newPost.type === 'image'" >
      <label for="image_input">Image URL</label>
      <input type="url" name="image_input" ng-model="addForm.newPost.imageContent" ng-required="addForm.newPost.type === 'image'">
    </div>
    
    <div class="video_input" ng-show="addForm.newPost.type === 'video'">
      <label for="video_input">YouTube Share URL</label>
      <input type="url" name="video_input" ng-model="addForm.newPost.videoContent" ng-required="addForm.newPost.type === 'video'">
    </div>
  </div>
  
  <div>
    <button>Submit</button>
  </div>
</form>