<div class="eidtbar_components">
  <div class="editbar">
    <button ng-click="editBarCtrl.showForm = true;">+</button>
  </div>

  <div class="form_overlay" ng-show="editBarCtrl.showForm"></div>
  <div class="form_container add_post" ng-show="editBarCtrl.showForm">
    <span class="closeForm" ng-click="editBarCtrl.showForm = false;">&times;</span>
    
    <div class="preview_content">
      <div class="post">
        <div class="headline_content">
          <h2>{{ addForm.newPost.title }}</h2>
        </div>
        <div class="post_content">
          <div ng-if="addForm.newPost.type === 'text'">
            <p>{{ addForm.newPost.textContent }}</p>
          </div>
          
          <div ng-if="addForm.newPost.type === 'image'">
            <img ng-src="{{ addForm.newPost.imageContent }}" alt="">
          </div>
          
          <div ng-if="addForm.newPost.type === 'video'" class="video_embed_container">
            <iframe width="560" height="315" ng-src="{{ addForm.newPost.content }}" frameborder="0" allowfullscreen></iframe>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="form_content">
      <add-form></add-form>
    </div>
  </div>
</div>