  
  <div class="col col{{$index + 1}}" ng-repeat="col in blog.posts track by $index">
    <div class="post" ng-repeat="post in blog.posts[$index]">
      <span class="delete_post" ng-click="blog.deletePost(post)"></span>
      <div class="headline_content">
        <h2>{{ post.title }}</h2>
      </div>
      <div class="post_content">
        <div ng-if="post.content_type === 'text'">
          <p>{{ post.content }}</p>
        </div>
        
        <div ng-if="post.content_type === 'image'">
          <a href="{{ post.content }}">
            <img ng-src="{{ post.content }}"/>
          </a>
        </div>
        
        <div ng-if="post.content_type === 'video'" class="video_embed_container">
          <iframe width="560" height="315" ng-src="{{ blog.getPostYoutubeVideoId(post) }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <p class="timestamp">{{ post.post_date | date }}</p>
    </div>
  </div>
